body
{
    background:grey;
}
.logo
{
    float:left;
    font-size: 50px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid black;
    padding: 5px;
    border-radius: 10px;
    width: 25%;
}
.html5_logo:hover
{
    color: green;
    cursor: progress;
}
.css3_logo:hover
{
    color: yellow;
    cursor: grab;
}
.top_nav
{
    float:left;
    font-size: 50px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    text-align: center;
    width: 70%;
    background: lightblue;
    margin-top: 5px;
}
.clear
{
    clear: both;
}
.container, a
{
    width: 90%;
    margin: auto;
    color:#d1d6cf;
}
main
{
    background: #1d2a35;
    padding: 10px;
}
aside
{
    background: #38444d;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
}
article>header>h1
{
    color:white;
    margin: 5px;
}
table, th, td
{
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}
th, td
{
    padding: 2px;
}
table
{
    margin: auto;
}
footer
{
    margin-top: 10px;
    background: lightblue;
    color:white;
    font-size: 25px;
    padding: 5px;
    text-align: center;
}

input[type=button]
{
    color:white;
    background: black;
    font-size: 25px;
    padding: 5px;
    margin-right: 10px;
}
input[type=button]:hover
{
    color:green;
    cursor: pointer;
}

a
{
    text-decoration: none;
    font-size: 20px;
}